
.Polaris-Card td{
    width: 200% !important;
}

.tblHeaders .col-sm-3{
    padding-left: 2% !important;
    width: 25% !important;
    padding-bottom: 1%;
    font-weight: bold;
}

.Pid{
    margin-left: 15%;
}

.tTitle{
    margin-left: -5%;
}

.Permission{
    margin-left: -10%;
}

.Polaris-Card{
    position: fixed;
    z-index: 50;
    width: 247%;
}

.MappingDetails{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 2% !important;
    font-size: 150% !important;
    width: 40%;
}

.saveBtn .Polaris-Button--primary{
    margin-left: -40% !important;
}

/* .Polaris-Button--primary{ */
/*     position: fixed; */
/*     margin-left: -170% !important; */
/* } */

.sticky{
    z-index:50 !important; ;
}