
.tblHeaders .col-sm-3{
    padding-left: 4% !important;
    width: 15% !important;
    padding-bottom: 1%;
    font-weight: bold;
}

.Pid{
    margin-left: 20%;
}

.Permission{
    margin-left: 4%;
}

.Polaris-Card{
    z-index: 20;
    width: 340%;
}

.MappingDetails{
    padding-top: 1%;
    padding-left: 4%;
    font-size: 150% !important;
}
/* .Polaris-Select .Polaris-Select__Input , .Polaris-Select__Backdrop{
    z-index: -11
} */

.sticky{
    z-index: 200 !important;
}