
.Polaris-Card td{
    width: 200% !important;
}

.tblHeaders .col-sm-3,.tblHeaders .col-sm-2,tblHeaders .col-sm-5{
     padding-left: 1% !important; 
/*     width: 25% !important; */
    padding-bottom: 1%;
    font-weight: bold;
}

.pName,.Pid,.tTitle,.Permission{
    font-weight: bold;
}


.Polaris-Card{
    position: fixed;
    z-index: 50;
    width: 250%;
    white-space: nowrap; 
/*     width: 0em;  */
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; 
    padding-left: 10%;
}

.MappingDetails{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 2% !important;
    font-size: 150% !important;
    width: 40%;
}

.saveBtn .Polaris-Button--primary{
    margin-left: -40% !important;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis; 
    white-space: nowrap; 
}

/* .Polaris-Button--primary{ */
/*     position: fixed; */
/*     margin-left: -170% !important; */
/* } */

.sticky{
    z-index:50 !important; 
}

/*.table.table-striped{
    width: 70% !important;
    margin-left: 15%;
}*/

/* Media Queries */
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) { 
    .Polaris-Card td{
        width: 200% !important;
    }    
    
    .Polaris-Card{
        position: fixed;
        z-index: 50;
        width: 340%;
        white-space: nowrap; 
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        padding-left: 10%;
    }
    
    .saveBtn .Polaris-Button--primary{
        margin-left: -40% !important;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    
    .pName,.Pid,.tTitle,.Permission{
        font-weight: bold;
        margin-left: 5%;
    }
      
      .pName{
          margin-left: 2%;
      }
      
    .MappingDetails{
        padding-top: 1%;
        padding-left: 2%;
        padding-bottom: 2% !important;
        font-size: 150% !important;
        width: 40%;
    }
      
    tbody{
        width: 70%;
        margin-top: 80% !important;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ..................................... */
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px)  { 
    .Polaris-Card td{
        width: 200% !important;
    }    
    
    .Polaris-Card{
        position: fixed;
        z-index: 50;
        width: 365%;
        white-space: nowrap; 
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        padding-left: 10%;
    }
    
    .saveBtn .Polaris-Button--primary{
        margin-left: -30% !important;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    
    .pName,.Pid,.tTitle,.Permission{
        font-weight: bold;
        margin-left: 7%;
        font-size: 80%;
    }
      
      .pName{
          margin-left: 4%;
      }
      
    .MappingDetails{
        padding-top: 1%;
        padding-left: 4%;
        padding-bottom: 2% !important;
        font-size: 150% !important;
        width: 40%;
    }
      
    tbody td{
        width: 10% !important;
        font-size: 80%;
        padding-top: 10% !important;
    }
      
      .Polaris-Choice__Label{
          font-size: 100%;
      }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ..................................... */
/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {
    .Polaris-Card td{
        width: 200% !important;
    }    
    
    .Polaris-Card{
        position: fixed;
        z-index: 50;
        width: 365%;
        white-space: nowrap; 
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        padding-left: 10%;
    }
    
    .saveBtn .Polaris-Button--primary{
        margin-left: -30% !important;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    
    .pName,.Pid,.tTitle,.Permission{
        font-weight: bold;
        margin-left: 7%;
        font-size: 80%;
    }
      
      .pName{
          margin-left: 4%;
      }
      
    .MappingDetails{
        padding-top: 1%;
        padding-left: 4%;
        padding-bottom: 2% !important;
        font-size: 150% !important;
        width: 40%;
    }
      
    tbody td{
        width: 10% !important;
        font-size: 80%;
        padding-top: 10% !important;
    }
      
      .Polaris-Choice__Label{
          font-size: 100%;
      }
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ...................................... */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px)  { 
      .Polaris-Card td{
        width: 200% !important;
    }    
    
    .Polaris-Card{
        position: fixed;
        z-index: 50;
        width: 260%;
        white-space: nowrap; 
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
/*         margin-left: 20%; */
    }
    
    .saveBtn .Polaris-Button--primary{
        margin-left: -30% !important;
        overflow: hidden;
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis; 
        white-space: nowrap; 
    }
    
    .pName,.Pid,.tTitle,.Permission{
        font-weight: bold;
/*         width: 20%; */
        font-size: 100%;
    }
      
      .pName{
          margin-left: 4%;
          width: 37%;
      }
      
    .MappingDetails{
        padding-top: 1%;
        padding-left: 4%;
        padding-bottom: 2% !important;
        font-size: 150% !important;
        width: 40%;
    }
      
    .table.table-striped {
        width: 80% !important;
        margin-left: 10% !important;
        font-size: 100%;
    }    
            
      .Polaris-Choice__Label{
          font-size: 100%;
      }
}